div.add-contact-wrapper { 
  height: 35vh;
  width: 99vw;
}

input.text-input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  width: 35vw;
  height: 5vh;
  border-radius: 5px;
  border-color: black;
  font-size: 15px;
  color: black;
  outline: none;
  text-align: center;
}

button.add-contact-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
  height: 7vh;
  margin-top: 1vh;
  border-radius: 5px;
  border-color: #009CBA;
  color: white;
  background-color: #009CBA;
}

button.add-contact-button:hover{
  border-color: #005D6F;
  background-color: #005D6F;
  cursor: pointer;
}

p.success-message {
  text-align: center;
  color: #4CAF50;
}

p.error-message {
  text-align: center;
  color: #F44336;
}

div.contacts-wrapper {
  width: 99vw;
}

div.no-contacts-added {
  text-align: center;
}

div.contact-wrapper {
  width: 50vw;
  height: 25vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  border:2px solid black;
  border-radius: 5px;
}

div.name-delete-edit {
  width: 100%;
  height: 20%;
  background-color: #009CBA;
}

div.name-element {
  width: 33%;
  float: left;
  margin-top: 1%;
  color: white;
  text-align: center;
}

div.delete-edit-element {
  width: 33%;
  float: left;
  color: white;
  text-align: center;
}

div.phone-email-wrapper {
  height: 80%;
  width: 100%;
}

div.phone-email {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

div.phone-email-icon {
  float: left;
  margin-top: 1%;
  color: #009CBA;
}

div.phone-email-content {
  float: left;
  margin-left: 1%;
}

input.edit-text-box {
  text-align: center;
  margin-top: 1%;
  border-color: white;
  border-radius: 5px;
  width: 35%;
}

input.edit-text-box-phone-email {
  text-align: center;
  margin-top: 1%;
  margin-left: 2%;
  border-color: #009CBA;
  border-radius: 5px;
  width: 20%;
}
